<form ng-submit="vm.createList(newListName)" class="bar bar-subheader item-input-inset" style="position: absolute">
    <label class="item-input-wrapper">
      <input type="text" ng-model="newListName" placeholder="List title">
    </label>
</form>

<ion-content overflow-scroll="true" style="padding-top: 88px">
  <ion-list can-swipe="true">
    <ion-item collection-repeat="list in vm.lists track by $index" style="padding: 0" ng-class="{active: main.list.id == list.id}" class="item item-divider">
      <h2  ng-click="vm.setList(list)" style="padding: 10px; text-decoration: {{todo.status == 'done' ? 'line-through' : 'none'}}">{{::list.title}}</h2>
      <ion-option-button ng-if="todo.status != 'done'" style="font-size: 24px;" class="ion-android-person-add" ng-click="vm.openModal()"></ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>

