<div class="bar bar-subheader item-input-inset" style="position: absolute">
    <label class="item-input-wrapper">
      <input type="search" ng-model="newListName" placeholder="List title">
    </label>
    <button class="button button-clear" ng-click="vm.createList(newListName); newListName = null">
      Add
    </button>
</div>

<ion-content overflow-scroll="true" style="padding-top: 88px">
  <div class="list">
    <div class="item item-divider" ng-click="vm.setList(list)"
         ng-class="{active: main.list.id == list.id}"
         ng-repeat="list in vm.lists track by $index" style="padding: 20px">
        {{::list.title}}
    </div>
  </div>
</ion-content>




