<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="List title" ng-model="vm.newListTitle" placeholder="Search">
  </label>
  <button class="button button-clear" ng-click="vm.createList(vm.newListTitle)">
    Add
  </button>
</div>

<ion-list can-swipe="true">
  <ion-item ng-repeat="list in vm.lists track by $index" ng-class="{active: main.list.id == list.id}" class="item-thumbnail-left item" ng-click="vm.setList(list.id)">  
    <h2 style="padding: 10px;">{{::list.title}}</h2>
    <ion-option-button class="button-positive" ng-click="share(item)">Share</ion-option-button>
    <ion-option-button class="button-info" ng-click="edit(item)"> Edit</ion-option-button>
  </ion-item>
</ion-list>

