
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Lists" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/lists">
  	<ion-nav-view name="lists"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Todo" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/todo">
	<ion-nav-view name="todo"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Users" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/users">
	<ion-nav-view name="users"></ion-nav-view>
  </ion-tab>
</ion-tabs>
