<form ng-submit="vm.createTodo(newTodoText); newTodoText = null" class="bar bar-subheader item-input-inset" style="position: absolute">
    <label class="item-input-wrapper">
        <input type="text" ng-model="newTodoText" placeholder="Todo text">
    </label>
    <button class="button button-clear ion-images" style="font-size: 24px;"></button>
</form>


<ion-content overflow-scroll="true" style="padding-top: 90px">
    <ion-list can-swipe="true">
        <ion-item collection-repeat="todo in vm.todoList track by $index"  
                  class="item item-divider"
                  ng-class="{'item-thumbnail-left': todo.imageUrl, 
                             'major-item': todo.status == 'major'}">
       
        <img ng-if="todo.imageUrl" ng-src="{{todo.imageUrl}}">
        <p style="text-decoration: {{todo.status == 'done' ? 'line-through' : 'none'}}"> 
            {{::todo.text}}
        </p>
      
      
             <!--div style="font-size: 24px; float: right; margin-right: -40px">  

                <button ng-if="todo.status != 'done'" 
                        ng-class="todo.status == 'major' ? 'ion-star' : 'ion-ios-star-outline'" 
                        style="{{todo.status == 'major' ? 'color: gold' : ''}}" 
                        class="button-icon button icon " 
                        ng-click="vm.setTodoStatus(todo.id, {{todo.status == 'major' ? 'new' : 'major'}})">
                </button>
                <button style="{{todo.status == 'done' ? 'color: green' : ''}}" 
                        class="button-icon button icon ion-checkmark" 
                        ng-click="vm.setTodoStatus(todo.id, {{todo.status == 'done' ? 'new' : 'done'}})">
                </button>
            </div-->
      <!--ion-option-button ng-if="todo.status != 'done'" style="font-size: 24px;" class="ion-android-person-add" ></ion-option-button-->
      <ion-option-button ng-if="todo.status == 'new'" 
            style="font-size: 24px;" 
            class="ion-ios-star-outline" ng-click="vm.setTodoStatus(todo.id, 'major')">
      </ion-option-button>

      <ion-option-button ng-if="todo.status == 'major'" 
            style="font-size: 24px; color: gold" class="ion-star" 
            ng-click="vm.setTodoStatus(todo.id, 'new')">
      </ion-option-button>

      <ion-option-button ng-if="todo.status != 'done'" style="font-size: 24px;" 
                         class="ion-checkmark" 
                         ng-click="vm.setTodoStatus(todo.id, 'done')">
      </ion-option-button>
   
     
      <ion-option-button ng-if="todo.status == 'done'"
                         style="font-size: 24px;" 
                         class="ion-loop" 
                         ng-click="vm.setTodoStatus(todo.id, 'new')">
      </ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>

 <!--ion-content overflow-scroll="true">
  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
    <ion-item ng-repeat="item in vm.todoList track by $index">
      <img ng-src="{{::main.user.imageUrl.split('?sz=50').join('?sz=100')}}" style="border: 2px solid green">
      <h2></h2>
      <ion-delete-button class="ion-minus-circled" 
                         ng-click="onItemDelete(item)">
      </ion-delete-button>
      <ion-option-button class="button-stable" ng-click="edit(item)">
        Edit
      </ion-option-button>
      <ion-option-button class="button-stable" ng-click="share(item)">
        Share
      </ion-option-button>
      <ion-option-button class="button-stable" ng-click="edit(item)">
        Edit
      </ion-option-button>
      <ion-option-button class="button-stable" ng-click="share(item)">
        Share
      </ion-option-button>
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
    </ion-item>
  </ion-list>

</ion-content-->



